/*------样式默认部分------*/
body,ul,dl,dd,dt,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,img,td,div,input{margin:0;padding:0;}
li{
	list-style-type:none;
	vertical-align:0;
	float:left;
}
img{border:0;}
a{
	outline-style:none;
	color:#666;
	text-decoration:none;
	border:0px;
}
/*------样式默认部分------*/

/*------zhuche页面背景部分------*/
.zhuche{
	height:780px;
	background:url(../img/a1.jpg) no-repeat center top;
	position: relative;
}
/*------注册大框部分------*/
.zhuchek{
	position: absolute;
	right:70px;
	top:200px;
	width:360px;
	height:430px;
	border-bottom: 1px solid #ddd;
	border-left:1px solid #ddd;
	border-right:1px solid #ddd;
	border-top:2px solid #ff4965;
	padding:0px 30px;
}
.zhuchek_n{height:90px;}
.zhuchek span{
	display:block;
	line-height:90px;
	float:left;
	font-size: 12px;
	font-weight: bold;
	color: #000;
}
.zhuchek p{
	line-height: 90px;
	float: right;
	font-size: 12px;
}
.zhuchek a{color:#ff4965;}
.username{
	width:355px;
	height:31px;
	margin-bottom:15px;
	font-size: 12px;
	background:url(../img/a8.jpg) no-repeat left top;
	text-indent: 40px;
	outline: none;
}
.yanzm{
	width:250px;
	height:31px;
	margin-bottom:15px;
	font-size: 12px;
	background:url(../img/a9.jpg) no-repeat left top;
	text-indent: 40px;
	outline: none;
}
.duanzm{
	width:250px;
	height:31px;
	font-size: 12px;
	background:url(../img/a10.jpg) no-repeat left top;
	text-indent: 40px;
	outline: none;
}
.btns{
	width:80px;
	height:31px;
	border:1px solid #ff4965;
	display: block;
	line-height: 31px;
	text-align: center;
	color:#ff4965;
	font-size: 12px;
	border-radius: 3px;position: absolute;
	left:306px;
	top:191px;
}
.password{
	width:355px;
	height:31px;
	margin-top:15px;
	font-size: 12px;
	background:url(../img/a11.jpg) no-repeat left top;
	text-indent: 40px;
	outline: none;
}
.submitbtn{
	width:357px;
	height:31px;
	margin-top:15px;
	font-size: 12px;
	color:#fff;
	background:#ff4965;
	border:none;
	border-radius: 3px;
}
.suijishu{
	width:80px;
	height:32px;
	border:1px solid #999;
	position: absolute;
	left:306px;
	top:140px;
	line-height: 32px;
	text-align: center;
}
.zhuchep{
	position: absolute;
	left:31px;
	top:298px;
}
.zhuzhep a{color:#ff4965;}
.zhuches{
	font-weight:100;
	position: absolute;
	left:31px;
	top:335px;
}
.zhuches .va{
	position: absolute;
	left:63px;
	top:19px;
	opacity: 0.3;
}
.zhuches .vb{
	position: absolute;
	left:108px;
	top:23px;
	opacity: 0.3;
}
.zhuches .vc{
	position: absolute;
	left:149px;
	top:21px;
	opacity: 0.3;
}
.zhuches .va:hover{
	opacity: 1;
}
.zhuches .vb:hover{
	opacity: 1;
}
.zhuches .vc:hover{
	opacity: 1;
}
/*------注册大框部分------*/

/*------zhuche页面背景部分------*/

/*------foot尾部部分------*/
.foot{
	width:1800px;
	height:30px;
	border-top: 3px solid #ff647c;
	background: #555;
	margin-left:-280px;
}
.foot .wrapper{
	width:1080px;
	margin:0 auto;
	
}

.foot .floor_nav{
	text-align: center;
	line-height: 25px;
}
.foot .floor_nav a{
	font-size: 12px;
	
	text-decoration: none;
	color:#ddd;
	padding-left:2px;
	
}
/*------foot尾部部分------*/

/*------copyright版权部分------*/
.copyright{
	height:170px;
	padding-top:15px;
}
.copyright p{
	text-align:center;
	font-size: 13px;
	color:#999;
	line-height: 26px;
}
/*------copyright版权部分------*/